/* MOBILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 767px) {
  .about {
    display: none;
  }
}

/* TABLET!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .about {
    display: none;
  }
}
/* DESKTOP!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 1158px) {
  .about {
    padding-bottom: 120px;
  }
  .about-title {
    margin-bottom: 72px;
    color: var(--shadows);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .about-list {
    display: flex;
    gap: 24px;
  }
  .about-list-item {
    width: calc((100% - 48px) / 3);
  }
  .about-list-image {
  }
}
