/* MOBILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 767px) {
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-title {
    margin-bottom: 72px;
    text-align: center;
    color: var(--shadows);
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list-item {
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-list-title {
    text-align: center;
    margin-bottom: 8px;
    color: var(--shadows);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .team-text-wrap {
    padding: 32px 0;
  }
  .team-list-text {
    text-align: center;
    margin-bottom: 8px;
  }

  .team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    border-radius: 50%;
    transition: background-color var(--animation);
  }

  .team-social-icon {
    fill: var(--light-background);
  }
}

/* TABLET!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-title {
    margin-bottom: 72px;
    text-align: center;
    color: var(--shadows);
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .team-list {
    display: flex;
    row-gap: 64px;
    column-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list-item {
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-list-title {
    text-align: center;
    margin-bottom: 8px;
    color: var(--shadows);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .team-text-wrap {
    padding: 32px 0;
  }
  .team-list-text {
    text-align: center;
    margin-bottom: 8px;
  }

  .team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    border-radius: 50%;
    transition: background-color var(--animation);
  }

  .team-social-icon {
    fill: var(--light-background);
  }
}

/* DESKTOP!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 1158px) {
  .team {
    background-color: var(--light-background);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-title {
    text-align: center;
    color: var(--shadows);
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
  .team-list-item {
    background-color: var(--white-background);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .team-list-image {
  }
  .team-text-wrap {
    padding: 32px 0;
  }

  .team-list-title {
    color: var(--shadows);
    text-align: center;
    margin-bottom: 8px;
  }
  .team-list-text {
    text-align: center;
    margin-bottom: 8px;
  }

  .team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .team-social-item {
  }
  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    border-radius: 50%;
    transition: background-color var(--animation);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: var(--active-state);
  }
  .link {
  }
  .team-social-icon {
    fill: var(--light-background);
  }
}
