body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text);
  background-color: var(--white-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.main-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.btn-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-family: 'Roboto', sans-serif;
}

.first-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.secondary-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
